<!DOCTYPE html>
<html>
 <body>
<main>
 　   <% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
   <% end %>
  <h1>welcome to <i class="fas fa-book"></i><strong>Bookers</strong>  !!</h1>
  In <i class="fas fa-book"></i><strong>Bookers,</strong>
  <p>you can share and exchange  your opinions , inpressions , and emotions</p>
  <p> about various books!</p>
  <div class="actions">
   <%= link_to "Log in", new_user_session_path %>
  </div>
  <div class="actions">
   <br><%= link_to "Sign Up", new_user_registration_path %></br>
  </div>
   </main>
    <footer>
      <p>CopyRight Infratop.inc</p>
  </footer>
  </body>
  </html>

